as-scenario-help .embed-container {
  height: 0; 
  max-width: 100%; 
  overflow: hidden; 
  padding-bottom: 56.25%; 
  position: relative;
}
as-scenario-help .embed-container iframe, 
as-scenario-help .embed-container object,
as-scenario-help .embed-container embed {
  height: 100%;
  left: 0; 
  position: absolute; 
  top: 0; 
  width: 100%;
}