as-legend {
  background-color: white;
  border: 1px solid #c1c4cd;
  border-radius: 2px;
  bottom: 8px;
  box-sizing: border-box;
  left: 8px;
  max-width: 80%;
  min-width: 15rem;
  padding: 10px;
  position: absolute;
  z-index: 0;
}
as-legend.drawer-open {
  bottom: 41%;
  bottom: calc(40% + 8px);
}
as-legend h2 {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
as-legend h3 {
  font-size: 0.9rem;
  margin: 0;
}
as-legend h3.project {
  margin-top: 4px;
  font-weight: 400;
}
as-legend h3.project::before {
  border-top: 2px dashed #444444;
  content: '';
  display: inline-block;
  height: 0;
  margin-right: 10px;
  vertical-align: middle;
  width: 25px;
}
as-legend .score-bar {
  height: 10px;
  margin: 4px 0 0;
}
as-legend .score-labels {
  font-size: 0.8rem;
  text-align: justify;
  text-align-last: justify;
}
