as-scores {
  display: block;
  width: 220px;
}

gl-map .mapboxgl-popup-content as-scores h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  padding: 0.25rem 0 0;
}

gl-map .mapboxgl-popup-content as-scores h3 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0;
  padding: 0.25rem 0 0;
}
